* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mona Sans';
    src: url(/assets/fonts/Mona_Sans/MonaSans-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
}

a, a:visited {
    text-decoration: underline;
    font-weight: 600;
    color: hsl(89, 0%, 40%);
}

a:hover {
    color: hsl(0, 0%, 16%);
}

body {
    font-family: 'Mona Sans';
}

header {
    display: flex;
    padding: 15px;
    background-color: hsl(89, 0%, 93%);
    color: hsl(89, 0%, 40%);
    text-wrap: nowrap;
    transition: all 0.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: hsl(0, 0%, 18%);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

nav a {
    font-size: 1.3rem;
    color: hsl(89, 0%, 40%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 300px;
    background-color: hsl(189, 28%, 82%);
}

main img {
    width: 100%;
    padding: 0 0 0 0;
}

main p {
    padding: 25px;
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
    align-items: baseline;
    min-height: 220px;
    padding: 28px;
    gap: 30px;
    background-color: rgb(235, 235, 235);
}

footer section {
    flex: 1 0 50%;
}

footer h3 {
    padding-bottom: 12px;
}

footer p {
    width: auto;
}

address {
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

form h1, form p {
    padding: 20px 20px 20px 0;
    text-align: left;
}

label {
    display: block;
    text-align: left;
}

input:not([type=radio]), textarea {
    margin: 0.25rem 0 1.25rem 0;
}

input:not([type=radio]), textarea {
    min-height: 25px;
    width: 300px;
}

.message-container {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2);
    width: 300px;
    grid-column-gap: 40px;
    /* background-color: red; */
}

.message-container label {
    grid-column: 1;
    grid-row: 1;
}

.message-container summary {
    grid-column: 2;
    grid-row: 1;
    font-size: 0.9rem;
}

.char-count {
    display: inline;
}

.message-container textarea {
    grid-column: 1 / span 2;
    grid-row: 2;
    min-height: 100px;
    resize: vertical;
}

fieldset {
    background-color: hsl(189, 28%, 89%);
    border: 1px solid #818181;
    width: 300px;
    padding: 10px 10px 20px 10px;
    text-align: left;
}

fieldset label {
    display: inline;
    padding-left: 5px;
}

fieldset input {
    width: 20px;
}

.fieldset-option {
    padding-left: 15px;

}

button {
    width: 75px;
    padding: 5px;
    margin: 30px 25px 25px 30px;
}

@media (min-width: 1024px) {
    * {
        transition: all 0.5s ease-in-out
    }

    header {
        padding: 15px 15% 15px 15px;
    }

    nav {
        justify-content: space-around;
        gap: 450px;
    }

    .nav-links {
        gap: 150px;
    }

    footer {
        flex-direction: row;
    }
}